body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  background:  rgb(221, 239, 239);
}

h1{
  color: green;
  font-size: 35px;
}

.container{
  width: 80%;
  margin: auto;
  min-height: 400px;
  margin-top: 80px;
}

.four{
  display: inline-block;
  font-size: 25px;
  margin: 2%;
  width: 20%;

}

table{
  border-collapse: collapse;
  border: 2px solid green;
}
 
 tr,th, td{
  padding: 6px 30px 6px; 
}

 th{
  border: 2px solid green;
  color: black;
  background: rgb(108, 166, 108) ;
}

fieldset{
  
  margin: 2%;
  vertical-align: top;
  padding: 1%;
  width: 35%;
  border: 1px solid rgb(106, 174, 106);
  border-radius: 5px;
  background: rgb(201, 240, 201);
  float: left;
}

legend{
  background-color: green;
  font-size: 20px;
  padding: 4px 30px 4px;
  color: white;
  border-radius: 5px;
}

.toplink{
  margin-right:15px ;
  text-decoration:none;
  font-size: 19px;
  color: white;
  font-weight: bold;
}

.toplink:hover{
  color: rgb(242, 15, 60);
  cursor: pointer;
}

header{
   padding: 20px;
   box-shadow: 0px 2px 2px grey;
   background: green;  
}

footer{
  background:green;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid grey;
  height: 70px;
  text-align: right;
}

#btn{
   margin-left: 40px;
   width: 100px;
}

input{
  border: 1px solid  rgb(108, 166, 108);
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

#delbtn{
  background-color: red;
}

.tbl2{
  border: 1px solid green;
}

#skillinp{
  height: 100px;
}

button{
  background-color: rgb(92, 152, 231);
  width: 70px;
  height: 25px;
  border-radius: 5px;
  
}

#bdrhide{
  border: none;
}

.nm{
  display: inline-block;
}

#tb1{
  border: none;
  
}
#tb2{
  border: none;
}
#cntnr1{
  margin-right: 20px;
}

#sbtn{
  background-color: green;
}

#bx1{
  border: 2px solid green;
  float: left;
  width:200px ;
  height: 300px;
  margin-right: 20px;
}

h4{
  color: green;
}

#a1{
  padding-left: 20px;
}



